html

.site-navigation {
/* Каталог Доставка и оплата о Компании   */
font-size: 16px;
font-family:"Roboto";
font-weight: bold;
line-height: 1.125;
text-align: left;
position: absolute;
letter-spacing: 0.0em;
line-height: 18px;
color: #ffffff;
left: 203.937px;
top: 46.546px;
z-index: 197;
}

.user-login {
  /* вход */
font-size: 14px;
font-family:"Roboto";
font-weight: medium;
letter-spacing: 0.0em;
line-height: 16px;
color: #ffffff;
line-height: 1.143;
text-align: right;
position: absolute;
left: 1008.002px;
top: 46.249px;
z-index: 188;
}

.basket-link-empty {
/* Корзина */
font-size: 14px;
font-family:"Roboto";
font-weight: medium;
letter-spacing: 0.0em;
line-height: 16px;
color: #ffffff;
line-height: 1.143;
text-align: left;
position: absolute;
left: 1116.937px;
top: 46.249px;
z-index: 183;
}

.contacts-caption {
  /* с 10 до 20 ежедневно */
font-size: 14px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 16px;
color: #ffffff;
line-height: 1.143;
text-align: right;
position: absolute;
left: 1020.938px;
top: 88.249px;
z-index: 179;
}



.phone {
  /* 8 812 450-25-25 */
font-size: 22px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 24px;
color: #ffffff;
line-height: 1.091;
text-align: right;
position: absolute;
left: 1006.937px;
top: 92.499px;
z-index: 178;
}



h2 .slider-tittle {
/* Крем-брюле и пломбр с малиновым джемом */
font-size: 60px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 60,35px;
color: #ffffff;
line-height: 1.006;
text-align: center;
-moz-transform: matrix( 0.99225231474236,0,0,0.99225231474236,0,0);
-webkit-transform: matrix( 0.99225231474236,0,0,0.99225231474236,0,0);
-ms-transform: matrix( 0.99225231474236,0,0,0.99225231474236,0,0);
position: absolute;
left: 199.229px;
top: 452.154px;
width: 611.231px;
height: 113.982px;
z-index: 48;
}

h2 .slider-tittle {
/* Шококладный пломбр и лимонный сорбет */
font-size: 60px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 60px;
color: #ffffff;
line-height: 1;
text-align: center;
-moz-transform: matrix( 0.99225231474236,0,0,0.99225231474236,0,0);
-webkit-transform: matrix( 0.99225231474236,0,0,0.99225231474236,0,0);
-ms-transform: matrix( 0.99225231474236,0,0,0.99225231474236,0,0);
position: absolute;
left: 9.635px;
top: 452.122px;
width: 585.474px;
height: 116.343px;
z-index: 32;
}


h2 .slider-tittle {
/* Пломбир с помадкой и клубничный сорбет */
font-size: 60px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 60px;
color: #ffffff;
line-height: 1;
text-align: center;
-moz-transform: matrix( 0.99225231474236,0,0,0.99225231474236,0,0);
-webkit-transform: matrix( 0.99225231474236,0,0,0.99225231474236,0,0);
-ms-transform: matrix( 0.99225231474236,0,0,0.99225231474236,0,0);
position: absolute;
left: 308.557px;
top: 451.744px;
z-index: 16;
}




.btn-slider {
/* Давайте оба */
font-size: 32px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 44px;
color: #ffffff;
line-height: 1.375;
text-align: center;
text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
-moz-transform: matrix( 1.04013375779322,0,0,1.04013375779322,0,0);
-webkit-transform: matrix( 1.04013375779322,0,0,1.04013375779322,0,0);
-ms-transform: matrix( 1.04013375779322,0,0,1.04013375779322,0,0);
position: absolute;
left: 183.385px;
top: 602.075px;
width: 168.881px;
height: 26.827px;
z-index: 9;
}

h3 .offer-title {
/* Малинка даром!*/
font-size: 35px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 41px;
color: #ffffff;
line-height: 1.171;
text-align: left;
-moz-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
-webkit-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
-ms-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
position: absolute;
left: 100.393px;
top: 699.251px;
width: 160.025px;
height: 21.012px;
z-index: 173;
}

p .offer-text {
/* При покупке 2 кг любого фруктового мороженого,
 добавим в ваш заказ банку малинового варенья бесплатно.!*/
font-size: 18px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 22px;
color: #ffffff;
line-height: 1.222;
text-align: left;
-moz-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
-webkit-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
-ms-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
position: absolute;
left: 133.012px;
top: 742.606px;
width: 337.354px;
height: 25.767px;
z-index: 172;
}


a .btn-offer {
/* Хочу варенье!*/
font-size: 18px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 24px;
color: #ffffff;
line-height: 1.333;
text-align: center;
-moz-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
-webkit-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
-ms-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
position: absolute;
left: 354.493px;
top: 839.138px;
width: 71.842px;
height: 10.326px;
z-index: 170;
}

h3 .offer-title {
/* Шоколадки даром!*/
font-size: 35px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 41px;
color: #ffffff;
line-height: 1.171;
text-align: center;
-moz-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
-webkit-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
-ms-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
position: absolute;
left: 650.579px;
top: 699.183px;
width: 184.834px;
height: 20.875px;
z-index: 164;
}

p .offer-text {
/* При покупке 2 кг пломбира, добавим
 в ваш заказ упаковку вкуснейшей шоколадной присыпки совершенно бесплатно.!*/
font-size: 18px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 22px;
color: #ffffff;
line-height: 1.222;
text-align: left;
-moz-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
-webkit-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
-ms-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
position: absolute;
left: 734.298px;
top: 741.606px;
width: 307.279px;
height: 25.767px;
z-index: 163;
}

a .btn-offer {
/* Хочу шоколадки!*/
font-size: 18px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 24px;
color: #ffffff;
line-height: 1.333;
text-align: center;
-moz-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
-webkit-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
-ms-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
position: absolute;
left: 1004.479px;
top: 838.138px;
width: 86.847px;
height: 10.326px;
z-index: 161;
}


p .catalog-item-price {
/* 310 кг */
font-size: 45px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 45px;
color: #ffffff;
line-height: 1;
text-align: left;
text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
position: absolute;
left: 24.112px;
top: 1126.5px;
z-index: 150;
}

a .catalog-item-title {
/* Сливочное с апельсиновым джемом
и цитрусовой стружкой */
font-size: 16px;
font-family:"Roboto";
font-weight: medium;
letter-spacing: 0.0em;
line-height: 22px;
color: #ffffff;
line-height: 1.375;
text-align: center;
-moz-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
-webkit-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
-ms-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
position: absolute;
left: 76.675px;
top: 1220.493px;
width: 165.498px;
height: 24.441px;
z-index: 146;
}

p .catalog-item-price {
/* 380 кг */
font-size: 45px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 45px;
color: #ffffff;
line-height: 1;
text-align: left;
text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
position: absolute;
left: 317.112px;
top: 1126.5px;
z-index: 149;
}



a .catalog-item-title {
/* Сливочно-кофейное с
кусочками шоколада */
font-size: 16px;
font-family:"Roboto";
font-weight: medium;
letter-spacing: 0.0em;
line-height: 22px;
color: #ffffff;
line-height: 1.375;
text-align: center;
-moz-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
-webkit-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
-ms-transform: matrix( 1.52348684663,0,0,1.52348684663,0,0);
position: absolute;
left: 369.562px;
top: 1220.122px;
width: 150.444px;
height: 24.182px;
z-index: 145;
}

p .catalog-item-price {
/* 355 кг */
font-size: 45px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 45px;
color: #ffffff;
line-height: 1;
text-align: left;
text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
position: absolute;
left: 610.112px;
top: 1126.5px;
z-index: 148;
}

a .catalog-item-title {
/* Сливочно-клубничное с
присыпкой из белого шоколада */
font-size: 16px;
font-family:"Roboto";
font-weight: medium;
letter-spacing: 0.0em;
line-height: 22px;
color: #ffffff;
line-height: 1.375;
text-align: center;
-moz-transform: matrix( 1.52348684663,0,0,1.52348684662999,0,0);
-webkit-transform: matrix( 1.52348684663,0,0,1.52348684662999,0,0);
-ms-transform: matrix( 1.52348684663,0,0,1.52348684662999,0,0);
position: absolute;
left: 663.062px;
top: 1220.122px;
width: 162.626px;
height: 24.182px;
z-index: 144;
}

p .catalog-item-price {
/* 415 кг */
font-size: 45px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 45px;
color: #ffffff;
line-height: 1;
text-align: left;
text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
position: absolute;
left: 903.937px;
top: 1127px;
z-index: 147;
}

a .catalog-item-title {
/* Сливочное крем-брюле
с карамельной подливкой */
font-size: 16px;
font-family:"Roboto";
font-weight: medium;
letter-spacing: 0.0em;
line-height: 22px;
color: #ffffff;
line-height: 1.375;
text-align: center;
-moz-transform: matrix( 1.52348684663,0,0,1.52348684663001,0,0);
-webkit-transform: matrix( 1.52348684663,0,0,1.52348684663001,0,0);
-ms-transform: matrix( 1.52348684663,0,0,1.52348684663001,0,0);
position: absolute;
left: 955.448px;
top: 1219.993px;
width: 114.537px;
height: 24.441px;
z-index: 143;
}

h2 .about-title {
/* Магазин Глэйси - это онлайн- и офлайн-магазин по продаже мороженого собственного
производства на развес */
font-size: 24px;
font-family:"Roboto";
font-weight: medium;
letter-spacing: 0.0em;
line-height: 30px;
color: #323232;
}

.about-item-equipment {
/* Все наше мороженое изготавливается на собственном производстве,
 с использованием современного оборудования
  и проверенных временем технологий */
font-size: 16px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 22px;
color: #323232;
}

.about-item-natural-products{
/*Для приготовления мороженого используются настоящие сливки и молоко
 высочайшего качества. Все дополнительные ингриденты и добавки
 произведены из натурального, экологически чистого сырья. */
font-size: 16px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 22px;
color: #323232;
}

.about-item-purchase {
/* Закупка ингридиентов производится только у проверенных фермерских
хозяйств и компаний, с которым нас связывает долговременное сотрудничество*/
font-size: 16px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 22px;
color: #323232;
}

.about-item-quality {
/* Доставка нашего мороженого до заказчиков осуществляется в специальном
 термопакете, который не дает мороженому растаять в пути и позволяет
  сохранить превосходный вкус. */
font-size: 16px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 22px;
color: #323232;
}

h2 .blog-title {
/* Новое в нашем блоге. */
font-size: 16px;
font-family:"Roboto";
font-weight: medium;
letter-spacing: 0.0em;
line-height: 22px;
color: #323232;
}

.blog-link {
/* 10 способов сервировки фруктовых щербетов к столу. */
font-size: 24px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 30px;
color: #323232;
}

p .subscribe-text {
/* Подпишитесь на нашу сладкую рассылку и будете всегда в курсе самого
 вкусного, что у нас происходит. Обещаем не спамить и не слать всякой
  ненужной ерунды. Честно =) */
font-size: 16px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 22px;
color: #5a5a5a;
}

p {
/* Электронная почта! */
font-size: 16px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 24px;
color: #999999;
}

.btn-subscribe {
/* Отправить */
font-size: 18px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 24px;
color: #fefefe;
}

p {
/* Адрес главного офиса и офлайн-магазина: */
font-size: 14px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 20px;
color: #323232;
}

b {
/* ул. Большая Конюшенная
19/8, Санкт-Петербург */
font-size: 18px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 24px;
color: #323232;
}

p {
/* Для заказов по телефону */
font-size: 14px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 20px;
color: #323232;
}

a .phone {
/* 8 812 450-25-25 */
font-size: 18px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 22px;
color: #323232;
}

p .contacts-caption {
/* с 10 до 20 ежедневно */
font-size: 14px;
font-family:"Roboto";
font-weight: medium;
letter-spacing: 0.0em;
line-height: 22px;
color: #323232;
}

a .btn-contacts {
/* Форма обратной связи */
font-size: 18px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 24px;
color: #fefefe;
}

a .heart {
/* Для поставщиков */
font-size: 13px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 18px;
color: #ffffff;
}

a {
/* О производстве */
font-size: 13px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 18px;
color: #ffffff;
}

a {
/* Наши документы */
font-size: 13px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 18px;
color: #ffffff;
}

a {
/* Экологические стандарты */
font-size: 13px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 18px;
color: #ffffff;
}

p .copyright {
/* Сделано в © 2017 */
font-size: 12px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 18px;
color: #fefefe;
}

a .copyright-link {
/* HTML Academy */
font-size: 12px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 18px;
color: #fefefe;
}

ul .submenu {
/* Новинки */
font-size: 14px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 16px;
color: #323232;
}

ul .submenu {
/* Сливочное */
font-size: 14px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 16px;
color: #323232;
}

ul .submenu {
/* Щербеты */
font-size: 14px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 16px;
color: #323232;
}

ul .submenu {
/* Фруктовый лед */
font-size: 14px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 16px;
color: #323232;
}

ul .submenu {
/* Мелорин */
font-size: 14px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 16px;
color: #323232;
}

p {
/* Электронная почта */
font-size: 14px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 24px;
color: #999999;
}

p {
/* Пароль */
font-size: 14px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 24px;
color: #999999;
}

a .button {
/* Войти */
font-size: 18px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 24px;
color: #fefefe;
}

a .button {
/* Забыли пароль */
font-size: 13px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 24px;
color: #323232;
}

a .button {
/* Новая регистрация */
font-size: 13px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 24px;
color: #323232;
}

p {
/* Что ищем? */
font-size: 14px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 24px;
color: #999999;
}

h2 {
/* Мы обязательно вам ответим! */
font-size: 24px;
font-family:"Roboto";
font-weight: medium;
letter-spacing: 0.0em;
line-height: 28px;
color: #999999;
}

p {
/* Как вас зовут? */
font-size: 16px;
font-family:"Roboto";
font-weight: regular;
letter-spacing: 0.0em;
line-height: 24px;
color: #999999;
}

h2 {
/* Ваша почта для ответа? */
font-size: 24px;
font-family:"Roboto";
font-weight: medium;
letter-spacing: 0.0em;
line-height: 28px;
color: #999999;
}

h2 {
/* Напишите что-нибудь... */
font-size: 24px;
font-family:"Roboto";
font-weight: medium;
letter-spacing: 0.0em;
line-height: 28px;
color: #999999;
}

a .button {
/* Отправить */
font-size: 18px;
font-family:"Roboto";
font-weight: bold;
letter-spacing: 0.0em;
line-height: 24px;
color: #fefefe;
}
