body {
 margin: 0;
 padding: 0;

 font-family: "Roboto", Arial, sans-serif;
 font-size: 16px;
 line-height: 22px;
 font-weight: 400;
 color: #ffffff;

 background-color: #849d8f;
}

li.slider-item.slider-item-1 {
 background-image:url("../img/slider-bg1.jpg");
}

li.slider-item.slider-item-2 {
 background-image:url("../img/slider-bg2.jpg");
}

li.slider-item.slider-item-3 {
 background-image:url("../img/slider-bg3.jpg");
}

a {
 text-decoration:underline;
 color: #ffffff;
}

a:hover,
a:focus {
color: #ffbc9e;
}


 a:focus,
 a:active :  {
  color: #e84d37;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #849d8f;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}


.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #f7f6f3;
}

.features-list {
  list-style: none;
}

.features-item {
text-align: center;
}

.slider-tittle h2 {
  font-size: 60px;
  line-height: 60,35px;
}

.offer-title h3 {
  font-size: 35px;
  line-height: 41px;
}
.offer-text p {
  font-size: 18px;
  line-height: 22px;
}

li.offer-item-1 {
color: #ffffff;
background-color: #b82443;
background-image: url("../img/crimson-bakground.jpg");
background-repeat: no-repeat;
}

li.offer-item-2 {
color: #ffffff;
background-color: #3d2418;
background-image: url("../img/chocolate-bakground.jpg");
background-repeat: no-repeat;
}

 h3.offer-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.offer-list {
list-style: none;
}

.offer-text {
  font-size: 18px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.button {
  font: inherit;

  color:  #ffffff;
  vertical-align: middle;

  background-color: #f16542;
  border: none;
}

.button:hover {
  background-color: #ec583c;
  box-shadow: #b05d55 2px 0 2px (172, 16, 0, 0.64);
  /* внешняя тень у кнопок */
  /* градиент у кнопок красных пока не написала  */
}

.button:focus {
  background-color: #f07a63;
  box-shadow: 2px 0px 2px rgba(172, 16, 0,);
      /* внешняя тень у кнопок */
    /* градиент у кнопок красных пока не написала  */
}

.button:active {
  background-color: #dd573b;
    /* внутренняя тень у кнопок */
    /* градиент у кнопок красных пока не написала  */
  box-shadow: 2px 0 2px rgba(160, 32, 11, 0.76);
}


.catalog-list {
  list-style: none;
}

.catalog-item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  background-color: 1px 0 3px rgba(49, 50, 53, 0.50);
}

.about {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background-color: #ebdfc7;
  background-image: url("../img/wafer.jpg");
  background-repeat: no-repeat;
}

li.about.about-item-equipment {
  background-image:url("../img/eco.svg");
  background-repeat: no-repeat;
}

li.about.about-item-natural-products {
  background-image:url("../img/cow.svg");
  background-repeat: no-repeat;
}

li.about.about-item-purchase {
  background-image:url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

li.about.about-item-quality {
  background-image:url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

.about-title h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.about-list {
list-style: none;
}

.blog div {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;

  background-color: #ffffff;
}

.blog2 div {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.search input hover,
.text input hover,
.password input hover,
.email input hover,
.email-for-answer input hover: {
  font: inherit;

  background-color: transparent;
  border: 1px solid #b2b2b2;
  /* не уверена в толщине рамки */
}

.search input focus,
.text input focus,
.password input focus,
.email input focus,
.email-for-answer input focus: {

  background-color: transparent;
  border: 2px solid #9a9a9a;
}

.search input active,
.text input active,
.password input active,
.email input active,
.email-for-answer input active: {
  background-color: transparent;
  border: 2px solid #2e88e4;
}



.main-footer {
  background-color: #849d8f;
  background-image:
   url("../img/slider-bg1.jpg"),
   url("../img/slider-bg2.jpg"),
   url("../img/slider-bg3.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-contacts a {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
text-decoration: none;
}

.footer-social {
  text-align: left;
}

.footer-social ul {
  list-style: none;
}

.social-link-tw a {
  background-image: url("../img/tw.svg");
}
.social-link-in a {
  background-image: url("../img/in.svg");
}
.social-link social-link-fb a {
  background-image: url("../img/fb.svg");
}
.social-linksocial-link social-link-vk a {
  background-image: url("../img/vk.svg");
}

.social-button {
color: rgba(255, 255, 255, 0.8);
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #ffffff;
  background-color: #849d8f;
}

.modal {
color:;

background-color: #849d8f;
background-image:url("../img/map.jpg");
background-position: 0 0;
background-repeat: no-repeat;
}

.main-header-logo a {
background-image:url("../img/icecream-peacture-svg");
}

.submenu {
  list-style: none;
}

.submenu a:hover{
    background-color: #fbded7;
}

.submenu a:focus{
    background-color: #f6b5a5;
}

.submenu a:active {
    background-color: #d07058;
}

.user-login input[type="text"],
.user-login input[type="password"] {
  font: inherit;
  color: #999999;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.login-links a {
  font-size: 14px;
  line-height: 24px;
  font: inherit;
  color: #999999;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.user-login input:hover {
border-color: 2px solid #9a9a9a;
}
.user-login input:focus {
border-color: 2px solid #2e88e4;
}


.filter-checkbox fieldset,
.filter-checkbox fieldset:checked {
background-color: (239, 107, 107, 0.8);
}

.filter-checkbox fieldset:hover,
.filter-checkbox fieldset:checked  {
background-color: rgba(239, 107, 107);
}

.filter-checkbox fieldset:disabled,
.filter-checkbox fieldset:checked  {
background-color: rgba(239, 107, 107, 0.4);
}

.filter-radio fieldset,
.filter-radio fieldset:checked {
background-color: rgba(239, 107, 107, 0.8);
}

.filter-radio fieldset:hover,
.filter-radio fieldset:checked  {
background-color: rgba(239, 107, 107);
}

.filter-radio fieldset:disabled,
.filter-radio fieldset:checked  {
background-color: rgba(239, 107, 107, 0.4);
}

.pagination-list:hover {
  list-style: none;

  color: #000000;
  background-color: #ffffff;
}

.pagination-list:focus {
  list-style: none;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list:active {
  list-style: none;

  color: #000000;
  background-color: #ffffff;
}

.btn-quick a: {
background-color: #ec593c;
box-shadow: 1px 0 1px rgba(172, 16, 0);
}
