body {
 padding: 0;
 min-width: 1200px ;
 font-family: "Roboto", "Arial", sans-serif;
 line-height: 22px;
 color: #ffffff;

 background-color: #849d8f;
}

html { box-sizing: border-box; }

*,
*::before,
*::after { box-sizing: inherit; }

img { max-width: 100%; }

a {
   text-decoration: underline;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-image: linear-gradient(to top, #e74b36 20% , #f26843  100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.004);
  text-align: center;
  text-decoration: none;
  border: 0;
  margin: 0 27px 20px;
}

.btn:hover,
.btn:focus {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-image: linear-gradient(to top, #ed715f 20% , #f48569 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  text-align: center;
  text-decoration: none;
  border: 0;
}

.btn:active {

  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-image: linear-gradient(to top, #f26843 20% , #d84732 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.004);
  text-align: center;
  text-decoration: none;
  border: 0;
}

/* background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%); */

.slider {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;

}

.slider-list {
  display: flex;
  list-style: none;
}

.slider-tittle {
    font-size: 60px;
    line-height: 60px;
}

.slider-item {
  min-height: 700px;
}

.slider-item-1 {
 background-image: url("../img/slider-bg1.png");
}

.slider-item-2 {
 background-image: url("../img/slider-bg2.png");
 display: none;
}

.slider-item-3 {
 background-image: url("../img/slider-bg3.png");
 display: none;
}

ul.slider-pagination {
  display: flex;
  list-style: none;
}

.offer {
  margin-bottom: 35px;
}

.offer-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}


.btn-slider {
  display: inline-block;
  vertical-align: top;
  padding: 10px 40px;
  color: #ffffff;
  border-radius: 30px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  background-image: linear-gradient(to top, #e74b36 20% , #f26843  100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  text-align: center;
  text-decoration: none;
  border: 0;
}

.btn-slider:hover,
.btn-slider:focus {
  font: inherit;
  display: inline-block;
  vertical-align: top;
  padding: 10px 40px;
  color: #ffffff;
  border-radius: 30px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  background-image: linear-gradient(to top, #ed715f 20% , #f48569 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  text-align: center;
  text-decoration: none;
  border: 0;
}

.btn-slider:active {
  font: inherit;
  display: inline-block;
  vertical-align: top;
  padding: 10px 40px;
  color: #ffffff;
  border-radius: 30px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  background-image: linear-gradient(to top, #f26843 20% , #d84732 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.004);
  background-color: #ea5339;
  text-align: center;
  text-decoration: none;
  border: 0;
}

/* .btn-slider a: {
  font: inherit;
  display: inline-block;
  vertical-align: top;
  padding: 10px 40px;
  color: #ffffff;
  border-radius: 30px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  background-image: linear-gradient(to top, #e74b36 20% , #f26843  100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.004);
  background-color: #ea5339;
  text-align: center;
  text-decoration: none;
  border: 0;
} */



.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: underline;
  list-style: none;
}


.main-navigation {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  list-style: none;
}

.site-navigation a {
  font-weight: 700;
  color: #ffffff;
}

.site-navigation {
  width: 685px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}


.site-navigation,
.user-navigation {
  color: #ffffff;
  text-decoration: none;
}

.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: auto;
}

.visually-hidden {
  display: none;
}

form.form-search {
  display: none;
}

.user-mail-form {
  display: none;
}

p.working-hours {
  text-align: right;
 }

.phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  display: block;
  }

/* .site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #f7f6f3;
  color: #ffffff;
  text-decoration: none;
} */

.features-list {
  list-style: none;
}

.features-item {
  text-align: center;
}

.offer-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 25px;
}
.offer-text {
  font-size: 18px;
  line-height: 22px;
}

.offer-item {
  /* display: flex; */
  flex-wrap: wrap;
  /* -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  box-sizing: border-box; */
  width: 560px;
  /* padding: 17px 19px 22px;
  margin-bottom: 40px; */
  border-radius: 15px;
}

.offer-item-1 {
  background-color: #b82443;
  background-image: url("../img/crimson-background.jpg");
}

.offer-item-2 {
  background-color: #3d2418;
  background-image: url("../img/chocolate-background.jpg");
}

.blog-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.blog-title {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.subscribe-text {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.field-caption {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  background-color: #ffffff;
  text-decoration: none;
}

.offer-text {
  font-size: 18px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

/* .button {
  font: inherit;

  color:  #ffffff;
  vertical-align: middle;

  background-color: #f16542;
  border: none;
} */

/* .button:hover {
  background-color: #ec583c;
  box-shadow: #b05d55 2px 0 2px (172, 16, 0, 0.64);
  /* внешняя тень у кнопок */
  /* градиент у кнопок красных пока не написала  */
} */

/* .button:focus {
  background-color: #f07a63;
  box-shadow: 2px 0px 2px rgba(172, 16, 0,);
      /* внешняя тень у кнопок */
    /* градиент у кнопок красных пока не написала  */
} */

/* .button:active {
  background-color: #dd573b;
    /* внутренняя тень у кнопок */
    /* градиент у кнопок красных пока не написала  */
  box-shadow: 2px 0 2px rgba(160, 32, 11, 0.76);
} */


.catalog-list {

  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 -21px;
  list-style: none;
  display: flex;
  padding: 0;
}

.catalog-item:not(:nth-of-type(4n)) {
  margin-right: 26px;
}

.catalog-item {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 267px;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  background-color: 1px 0 3px rgba(49, 50, 53, 0.50);
}

.about {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background-color: #ebdfc7;
  background-image: url("../img/wafer.jpg");
  padding: 20px;
  border-radius: 15px;

}

.about-item {
  width: 47%;
  padding-left: 64px;
  margin-bottom: 20px;

}

.about-item-equipment {
  background-image:url("../img/eco.svg");
  background-repeat: no-repeat;
}

.about-item-natural-products {
  background-image:url("../img/cow.svg");
  background-repeat: no-repeat;
}

.about-item-purchase {
  background-image:url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.about-item-quality {
  background-image:url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

.about-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  margin: 0 0 20px;
}

.about-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}


.blog {
  min-height: 220px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
  background-color: #ffffff;
  padding: 20px;
  width: 560px;
  background: url(../img/strawberry-background.jpg);
  border-radius: 15px;
}

/* .blog2 {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}



.search input hover,
.text input hover,
.password input hover,
.email input hover,
.email-for-answer input hover: {
  font: inherit; */

  background-color: transparent;
  border: 1px solid #b2b2b2;
  /* не уверена в толщине рамки */
}

.search input focus,
.text input focus,
.password input focus,
.email input focus,
.email-for-answer input focus: {

  background-color: transparent;
  border: 2px solid #9a9a9a;
}

.contacts-caption {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.contacts-caption-2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.footer-contacts  {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
text-decoration: none;
}

.social-list {
  text-decoration: none;
  list-style: none;
}


.social-link-tw  {
  background-image: url("../img/tw.svg");
}
.social-link-in  {
  background-image: url("../img/in.svg");
}
.social-link-fb  {
  background-image: url("../img/fb.svg");
}
.social-link-vk  {
  background-image: url("../img/vk.svg");
}

/* .social-button {
color: rgba(255, 255, 255, 0.8);
} */

.footer-menu {
  text-decoration: none;
  list-style: none;
}

.info-1 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: underline;
  color: #ffffff;
}

.info {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  color: #ffffff;
}

.copyright-link:hover,
.copyright-link:focus {
  color: #ffffff;
  background-color: #849d8f;
}

.map {
width: 100%;
height: 430px;
background-color: #849d8f;
background-image:url("../img/map.jpg");
background-position: 0 0;
background-repeat: no-repeat;
}



.submenu {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  display: none;
}

.submenu :hover{
    color: #323232;
    background-color: #fbded7;
    text-decoration: none;
}

.submenu :focus{
    color: #323232;
    background-color: #f6b5a5;
    text-decoration: none;
}

.submenu :active {
  color: #ffffff;
  background-color: #d07058;
  text-decoration: none;
}

.user-login input[type="text"],
.user-login input[type="password"] {
  font: inherit;
  color: #999999;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.login-links {
  font-size: 14px;
  line-height: 24px;
  font: inherit;
  color: #999999;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.user-login input:hover {
border-color: 2px solid #9a9a9a;
}
.user-login input:focus {
border-color: 2px solid #2e88e4;
}


.filter-checkbox-group,
.filter-checkbox:checked {
background-color: (239, 107, 107, 0.8);
}

.filter-checkbox-group:hover,
.filter-checkbox-group:checked  {
background-color: rgba(239, 107, 107);
}

.filter-checkbox-group:disabled,
.filter-checkbox-group:checked  {
background-color: rgba(239, 107, 107, 0.4);
}

.filter-radio,
.filter-radio:checked {
background-color: rgba(239, 107, 107, 0.8);
}

.filter-radio:hover,
.filter-radio:checked  {
  background-color: rgba(239, 107, 107);
}

.filter-radio:disabled,
.filter-radio:checked  {
  background-color: rgba(239, 107, 107, 0.4);
}

.pagination-list:{
  list-style: none;

  color: #000000;
  background-color: #ffffff;
}

.pagination-list:focus {
  list-style: none;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list:active {
  list-style: none;

  color: #000000;
  background-color: #ffffff;
}

/* .btn-quick: {
  background-color: #ec593c;
  box-shadow: 1px 0 1px rgba(172, 16, 0);
} */

/* Сеточные стили */

.main-header-logo {
width: 154px;

}
