body {
 padding: 0;
 min-width: 1200px ;
 font-family: "Roboto", "Arial", sans-serif;
 line-height: 22px;
 color: #ffffff;

 background-color: #849d8f;
}

html { box-sizing: border-box; }

*,
*::before,
*::after { box-sizing: inherit; }

img { max-width: 100%; }

a {
   text-decoration: underline;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-image: linear-gradient(to top, #e74b36 20% , #f26843  100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.004);
  text-align: center;
  text-decoration: none;
  border: 0;
  margin-bottom: auto;
}

.btn:hover,
.btn:focus {
  background-image: linear-gradient(to top, #ed715f 20% , #f48569 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn:active {
  background-image: linear-gradient(to top, #f26843 20% , #d84732 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.004) inset;
}

.btn-subscribe {
  margin-bottom: 5px;
}

.slider {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.slider-list {
  display: flex;
  list-style: none;
}

.slider-tittle {
  font-size: 60px;
  line-height: 60px;
  margin: 400px 0 10px 0;
  padding-left: 10px 10px ;
  text-align: center;
}

.slider-item {
  min-height: 700px;
}

.slider-item-1 {
   background-image: url("../img/slider-bg1.png");
}

.slider-item-2 {
 background-image: url("../img/slider-bg2.png");
 display: none;
}

.slider-item-3 {
 background-image: url("../img/slider-bg3.png");
 display: none;
}

ul.slider-pagination {
  display: flex;
  list-style: none;
}

.offer {
  margin-bottom: 35px;
}

.offer-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-slider {
  display: inline-block;
  vertical-align: top;
  padding: 10px 40px;
  color: #ffffff;
  border-radius: 30px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  background-image: linear-gradient(to top, #e74b36 20% , #f26843  100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  text-align: center;
  text-decoration: none;
  border: 0;
  position: absolute;
  margin: 10px 10px 10px 400px;
}

.btn-slider:hover,
.btn-slider:focus {
  background-image: linear-gradient(to top, #ed715f 20% , #f48569 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn-slider:active {
  background-image: linear-gradient(to top, #f26843 20% , #d84732 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.004);
  background-color: #ea5339;
}

.breadcrumbs {
  display:flex;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: underline;
  list-style: none;
  margin-left: -60px;
}

.home {
  margin-left: 22px;
  color: #ffffff;
}

.magazine-2 {
  margin-left: 22px;
  color: #ffffff;
}

.creamy {
  margin-left: 22px;
}

.has-children {
  margin-left: 22px;
  color: #ffffff;
}

.delivery {
  margin-left: 22px;
  color: #ffffff;
}

.company {
  margin-left: 22px;
  color: #ffffff;
}

.main-navigation {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  list-style: none;
}


.site-navigation a {
  display: block;
  font-weight: 700;
  color: #ffffff;
  list-style: none;
}

.site-navigation .sub-menu  {
  position: absolute;
  left: 1px;
  width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f8f7f4;
  display: none;
}

.site-navigation {
  display: flex;
  list-style: none;
  width: 685px;
  padding-left: 10px;
  padding-top: 7px;
  color: #ffffff;
  margin-left: 20px;
}


.site-navigation,
.user-navigation {
  color: #ffffff;
  text-decoration: none;
}

.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: auto;
  display: ?;
}

.visually-hidden {
  display: none;
}

p.working-hours {
  text-align: right;

  position: absolute;
  right: -80px;
  top: 10px;
  margin-left: auto;
  text-align: right;
 }

.phone {
  flex-direction: column;
  padding-left: 25px;
  font-size: 22px;
  line-height: 5px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  }

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #fbded8;
  color: #323232;;
  text-decoration: none;
}

.features-list {
  list-style: none;
}

.features-item {
  text-align: center;
}

.offer-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 5px;
}
.offer-text {
  font-size: 18px;
  line-height: 22px;
}

.offer-item {
  /* display: flex; */
  flex-wrap: wrap;
  /* -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  box-sizing: border-box; */
  padding: 20px;
  width: 560px;
  /* padding: 17px 19px 22px;
  margin-bottom: 40px; */
  border-radius: 15px;
}

.offer-item-1 {
  background-color: #b82443;
  background-image: url("../img/crimson-background.jpg");
}

.offer-item-2 {
  background-color: #3d2418;
  background-image: url("../img/chocolate-background.jpg");
}

.blog {
  min-height: 220px;
  color: #323232;
  background-color: #ffffff;
  padding: 20px;
  width: 560px;
  background: url(../img/strawberry-background.jpg);
  border-radius: 15px;
}

.blog-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.blog-title {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  margin: 0 0 20px;
}

.subscribe {
  width: 560px;
  padding: 20px;
  background: #f8f7f4;
  border-radius: 15px;
}

.subscribe-text {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.btn-subscribe {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-image: linear-gradient(to top, #e74b36 20% , #f26843  100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.004);
  text-align: center;
  text-decoration: none;
  border: 0;
}

.offer-text {
  font-size: 18px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  margin-top: auto;
}


.catalog {
margin-bottom: 10px;
}

.catalog-list {
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-bottom: 10px;
}

.catalog-item:not(:nth-of-type(4n)) {
  margin-right: 26px;
}

.catalog-item {
  position: relative;
  -webkit-box-direction: normal;
  flex-wrap: wrap;
  width: 267px;
  margin-bottom: 10px;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}


.catalog-item-price {
  font-size: 45px;
  line-height: 5px;
  font-weight: 700;
  background-color: 1px 0 3px rgba(49, 50, 53, 0.50);
  position: relative;
  padding-left: 0;
}

.catalog-filter-form {
  display: flex;
  flex-wrap: wrap;
}

.about {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background-color: #ebdfc7;
  background-image: url("../img/wafer.jpg");
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.about-item {
  width: 47%;
  padding-left: 64px;
  margin-bottom: 20px;

}

.about-item-equipment {
  background-image:url("../img/eco.svg");
  background-repeat: no-repeat;
}

.about-item-natural-products {
  background-image:url("../img/cow.svg");
  background-repeat: no-repeat;
}

.about-item-purchase {
  background-image:url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.about-item-quality {
  background-image:url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

.about-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  margin: 0 0 20px;
}

.about-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
}


.search input focus,
.text input focus,
.password input focus,
.email input focus,
.email-for-answer input focus: {

  background-color: transparent;
  border: 2px solid #9a9a9a;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.contacts {
  background: #ffffff;
  width: 360px;
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  right: 27px;
  top: -411px;
}

.contacts-caption {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.contacts-caption-2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.footer-contacts  {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
text-decoration: none;
}

.social-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-list li {
  margin: 0 2px;
}

.social-link {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border:  rgba (255, 255, 255, 0.5);
  background-color: (255, 255, 255, 0.5);

}

.social-link-tw  {
  background-image: url("../img/tw.svg");
  background-repeat: no-repeat;
}

.social-link-in  {
  background-image: url("../img/in.svg");
  background-repeat: no-repeat;
}

.social-link-fb  {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}

.social-link-vk  {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
}

.footer-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 417px;
}

.footer-menu li {
  width: 50%;
}

.basket-form {
  text-align: center;
  background: #f8f7f4;
  width: 345px;
  min-height: 82px;
  color: #000;
  padding: 0px;
  border-radius: 5px;
  vertical-align: middle;
}

.feedback {
  text-align: center;
  background: #f8f7f4;
  min-height: 443px;
  width: 480px;
  color: #000;
  padding: 20px;
  border-radius: 15px;
  margin: auto;
  vertical-align: middle;
  display: none;
}

label {
  display: block;
  margin-bottom: 5px;
}

.review-name {
  margin-left: -95px;
}

.input-1 {
  width: 267px;
  height: 43px;
  margin-left: -175px;
  margin-bottom: 20px;
  padding: 2px 5px;

  font-family: "Roboto", sans-serif;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.input-2 {
  width: 267px;
  height: 43px;
  margin-left: -175px;
  margin-bottom: 20px;
  padding: 2px 5px;

  font-family: "Roboto", sans-serif;
  left: auto;

  border: 1px solid #cccccc;
  border-radius: 5px;
}

.input-3 {
  width: 430px;
  height: 155px;
  margin-left: -15px;
  margin-bottom: 10px;
  padding: 2px 5px;
  font-family: "Roboto", sans-serif;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.send-btn {
margin: 10px 0 0 5px;
}

.textarea {
  overflow:auto;
}

.enter-wrap {
  text-align: center;
  background: #f8f7f4;
  min-height: 216px;
  width: 280px;
  color: #000;
  padding: 20px;
  border-radius: 15px;
  margin: auto;
  vertical-align: middle;
}

.forgot-password {

}



.btn-entrance {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-image: linear-gradient(to top, #e74b36 20% , #f26843  100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.004);
  text-align: center;
  text-decoration: none;
  border: 0;
  padding-bottom: 5px;
}

.info-1 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: underline;
  color: #ffffff;
}

.info {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  color: #ffffff;
}

.copyright-link:hover,
.copyright-link:focus {
  color: #ffffff;
  background-color: #849d8f;
}

.map {
width: 100%;
height: 430px;
background-color: #849d8f;
background-image:url("../img/map.jpg");
background-position: center;
background-repeat: no-repeat;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  position: relative;
}
.btn-quick {
}

.user-search input[type="search"] {
  margin-top: 15px;
  font: left;
  color: #999999;
  text-transform: none;
  width: 310px;
  height: 45px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;

}

.user-login input[type="text"],
.user-login input[type="password"] {

  margin: 0 15px 0 15px;
  font: left;
  color: #999999;
  text-transform: none;
  width: 241px;
  height: 45px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;

  font: inherit;
  /* color: #999999;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #d3d3d2; */
}

.login-links {
  font-size: 14px;
  line-height: 24px;
  width: 280px;
  min-height: 215px;
  font: inherit;
  color: #999999;
  text-transform: uppercase;
  border-radius: 15px;

  background-color: #f8f7f4;
  border: 1px solid #d3d3d2;
}

.user-login input:hover {
border-color: 2px solid #9a9a9a;
}
.user-login input:focus {
border-color: 2px solid #2e88e4;
}

.filter-checkbox-group {
   flex-wrap: wrap;
}


.filter-checkbox-group,
.filter-checkbox:checked {
background-color: (239, 107, 107, 0.8);
}

.filter-checkbox-group:disabled  {
background-color: rgba(239, 107, 107, 0.4);
}

.filter-radio,
.filter-radio:checked {
background-color: rgba(239, 107, 107, 0.8);
list-style: none;
padding: 0;
display: flex;
flex-wrap: wrap;
width: 417px;
}

.filter-radio:hover,
.filter-radio:checked  {
  background-color: rgba(239, 107, 107);
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 417px;
}

.filter-radio:disabled,
.filter-radio:checked  {
  background-color: rgba(239, 107, 107, 0.4);
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 417px;
}

.pagination-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.arrow-prev {
  color: #ffffff;
}

.active-one {
  color: #ffffff;
}
 .two{
  color: #ffffff;
 }

 .three{
  color: #ffffff;
 }

 .four {
  color: #ffffff;
 }
.five {
  color: #ffffff;
}

.arrow-next {
  color: #ffffff;
}

.main-header-logo {
width: 154px;
}
